<div id="featureView" >
	<div ng-repeat="addr in feature.addresses">
		<span>
			<a class="addrPart" ng-show="addr.admin0_name" href="#!/feature/{{addr.refs.admin0}}">{{addr.admin0_name}}</a> 
			<a class="addrPart" ng-show="addr.admin1_name" href="#!/feature/{{addr.refs.admin1}}">{{addr.admin1_name}}</a> 
			<a class="addrPart" ng-show="addr.admin2_name" href="#!/feature/{{addr.refs.admin2}}">{{addr.admin2_name}}</a>
			<a class="addrPart" ng-show="addr.local_admin_name" href="#!/feature/{{addr.refs.local_admin}}">{{addr.local_admin_name}}</a>
			<a class="addrPart" ng-show="addr.locality_name" href="#!/feature/{{addr.refs.locality}}">{{addr.locality_name}}</a>
			<a class="addrPart" ng-show="addr.neighborhood_name" href="#!/feature/{{addr.refs.neighborhood}}">{{addr.neighborhood_name}}</a>
			<a class="addrPart" ng-show="addr.street_name" href="#!/feature/{{addr.refs.street}}">{{addr.street_name}}</a>
			<span class="addrPart" ng-show="addr.housenumber">{{addr.housenumber}}</span>
		</span>
		<div ng-repeat="alt in addr.alt_addresses">
			{{alt}}		
		</div>
	</div>
	
	<div ng-show="feature.type == 'poipnt'">
		<div><span>{{feature.name}}</span> (<span>{{feature.poi_class_names[0]}}</span>)</div>
		<div ng-show="feature.operator">Operator {{feature.operator}}</div>
		<div ng-show="feature.brand">Brand: {{feature.brand}}</div>
		<div ng-show="feature.opening_hours">Work time: {{feature.opening_hours}}</div>
		<div ng-show="feature.phone">Phone: {{feature.phone}}</div>
		<div ng-show="feature.email">Email: {{feature.email}}</div>
		<div ng-show="feature.website">Website: {{feature.website}}</div>
	</div> 
	
	<div class="columns2" ng-show="feature.nearby_streets">
		<h4>Nearby streets</h4>
		<div ng-repeat="strt in feature.nearby_streets">
			<a href="#!/feature/{{strt.id}}">{{strt.name}}</a>
			<div class="aname" ng-show="strt.alt_names">
				(<span class="part" ng-repeat="aname in strt.alt_names">{{aname}}</span>)
			</div>
		</div>
	</div> 

	<div class="columns2" ng-show="feature.nearby_places">
		<h4>Nearby places</h4>
		<div ng-repeat="place in feature.nearby_places">
			<a href="#!/feature/{{place.id}}">{{place.name}}</a>
			<div class="aname" ng-show="place.alt_names">
				(<span class="part" ng-repeat="aname in place.alt_names">{{aname}}</span>)
			</div>
		</div>
	</div> 
	
</div>

<div id="relared" ng-show="related">
	<h3>Related objects</h3>
	<div ng-repeat="(key, features) in related">
		<h4>{{key}}</h4>
		<ul>
			<li ng-repeat="f in features"><a href="#!/feature/{{f.id}}">{{frmtSrchRes(f)}}</a></li>
		</ul>
	</div>
</div>