.selected {
	background-color: #BBBBBB;
}

#content {
	padding: 1em;
}

 #list {
 	width:40%; 
 	float:left;
 }
 
 #list ul {
 	margin: 1em;
 }
 
 .part {
 	padding-left: 0.5em;
 	padding-right: 0.5em;
 }
 
 .aname {
 	font-size: smaller;
 }
 
 #featureView {
 	margin-top: 2em;
 }
 
 .columns2 {
 	width:45%;
 	float:left;
 }
 
