<!DOCTYPE html>
<head>
     <title>OSM Gazetteer</title>
     <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js" type="text/javascript"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-route.min.js" type="text/javascript"></script>
     <script src="//cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">     
</head>
<body ng-app="Gazetteer" ng-controller="MainController">
     <div id="content">
    	
		<input name="q" id="search" type="text" ng-enter="searchForm.submitForm();" ng-model="searchForm.q"></input>

		<div>
			<input type="checkbox" ng-model="searchForm.types.adrpnt"> Address
			<input type="checkbox" ng-model="searchForm.types.plcpnt"> Town
			<input type="checkbox" ng-model="searchForm.types.hghway"> Street
			<input type="checkbox" ng-model="searchForm.types.admbnd"> Admin. boundary
			<input type="checkbox" ng-model="searchForm.types.poipnt"> POI
		</div>
		
		<div>
			<input type="checkbox" name="explain" value="true" ng-model="searchForm.explain"> explain
		</div>
		
     </div>
		
	<div style="width:40%; float:left;">
     	<ul>
     		<li ng-repeat="f in searchResult.features">
     			<a href="#!/feature={{f.feature_id}}&rowId={{f.id}}"> {{frmtSrchRes(f);}}</a>
     		</li>
     	</ul>
	</div>
    	
   	<div style="width:60%; float:left;">
   		<div id="map" style="width: 600px; height:400px"></div>
   			
   		<div ng-view></div>	
   	</div>
     	
     
     <script src="static/js/gazetteer.js" type="text/javascript"></script>
</body>
</html>