<!DOCTYPE html>
<head>
     <title>OSM Gazetteer</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
</head>
<body>
     <div id="content" ng-app="Gazetteer" ng-controller="MainController">
    	
		<input name="q" id="search" type="text" ng-enter="searchForm.submitForm();" ng-model="searchForm.q"></input>

		<div>
			<input type="checkbox" ng-model="searchForm.types.adrpnt"> Address
			<input type="checkbox" ng-model="searchForm.types.plcpnt"> Town
			<input type="checkbox" ng-model="searchForm.types.hghway"> Street
			<input type="checkbox" ng-model="searchForm.types.admbnd"> Admin. boundary
			<input type="checkbox" ng-model="searchForm.types.poipnt"> POI
		</div>
		
		<div>
			<input type="checkbox" name="explain" value="true" ng-model="searchForm.explain"> explain
		</div>
		
     </div>
     
     <div id="results" ng-app="Gazetteer" ng-controller="ResultsListController">
     	<ul>
     		<li ng-repeat="f in features">{{f.name}}</li>
     	</ul>
     </div>

     <script src="static/js/gazetteer.js" type="text/javascript"></script>
</body>
</html>