html, body {
	margin: 0;
	padding: 0;
	height: 100%;	
}
#wrap { 
      min-height: 100%;
}
#header {
	height: 50px;
}
#page {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
	border-top: 3px solid #FF9D1C;
}
#splitter {
    height: 100%;
    position: relative;
}
#sidebar {
	display: block;
	position: absolute;
    background-color: white;
    height: 100%;
    overflow-x: hide; 
    overflow-y: auto;
}
#map {
	display: block;
	overflow: hidden;
	height: 100%;
	position: absolute;
	right: 0px;
	background-color: grey;
	border-left: 3px solid grey;
}
#search-form {
	display: inline;
}
#serch-input {
	font-size: 1.2em;
	width: 40%;
	//background: url("/img/search.svg") no-repeat scroll 98% center rgba(0, 0, 0, 0);
    height: 32px;
    margin: 8px 3px 3px 3px;
    padding: 0 0 0 5px
}
#logo-wrapper {
	width:450px;
	overflow: hidden;
	height: 50px;
	display: block;
	position: absolute;
	left:0px;
}
#header-content {
	display: block;
	overflow: hidden;
	height: 50px; 
	position: absolute;
	right: 0px;
	left:450px;
}
div.leaflet-bottom div.leaflet-control-attribution {
	margin-left:5px;
}

#search-button {
    background: none repeat scroll 0 0 #9b1;
    height: 24px;
    width: 100px;
    margin-left: 10px;
    position: absolute;
    top:8px;
}
.button {
    border: 0 none;
    color: #fff;
    font-size: 12pt;
    padding: 5px;
    text-align: center;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.field {
    border: 1px solid #999;
    color: #000;
    font-size: 16pt;
    line-height: 24px;
}
input {
    box-sizing: content-box;
}
input, textarea, form:active, input:focus {
    outline: medium none;
}
.not-empty {
	text-decoration: underline;
	cursor: pointer;
}
#cathegories-tree li {
	list-style: none;
}
#cathegories-tree .feature {
	cursor: pointer;
}
#cathegories-tree ul {
	padding-left: 23px;
}
#cathegories-tree {
	padding-left: 5px;
}
#search-results {
	border-bottom: 3px solid #FF9D1C;
}
.search-result .address {
	font-size: 9pt;
}
.search-result .title {
	cursor: pointer;
}
.search-result {
	padding: 0 5px 4px 5px;
}
.search-result:HOVER {
	background-color: #FAFAFA;
}
.page-number {
	cursor: pointer;
	margin-left: 6px;
}
.current {
	font-weight: bold;
	color: #FF9D1C;
}
.explanations {
	font-size: 4px;
}
.geocode-control {
	background-color: white;
	padding: 0 5px 0 5px;
}