<div>

     <div id="content">
    	
		<input name="q" id="search" type="text" ng-enter="searchForm.submitForm();" ng-model="searchForm.q"></input>
		<button ng-click="searchForm.submitForm();">search</button>
		
		<div>
			<input type="checkbox" ng-model="searchForm.types.adrpnt"> Address
			<input type="checkbox" ng-model="searchForm.types.plcpnt"> Town
			<input type="checkbox" ng-model="searchForm.types.hghway"> Street
			<input type="checkbox" ng-model="searchForm.types.admbnd"> Admin. boundary
			<input type="checkbox" ng-model="searchForm.types.poipnt"> POI
		</div>
		
		<div>
			<input type="checkbox" name="explain" value="true" ng-model="searchForm.explain"> explain
		</div>
		
     </div>
		
	<div id="list">
     	<ul>
     		<li id="{{f.id}}" ng-class="{selected: f.id==selectedRowId}" ng-repeat="f in searchResult.features">
     			<a ng-click="selectF(f, $event);" href="javascript:void(0);"> {{frmtSrchRes(f);}}</a>
     		</li>
     	</ul>
	</div>
    	
   	<div id="map-container" style="width:60%; float:left;">
   		<div id="map" style="width: 600px; height:400px"></div>
   			
   		<div id="featureView" >
			<div ng-repeat="addr in feature.addresses">
				<span>
					<a class="addrPart" ng-show="addr.admin0_name" href="#!/feature/{{addr.refs.admin0}}">{{addr.admin0_name}}</a> 
					<a class="addrPart" ng-show="addr.admin1_name" href="#!/feature/{{addr.refs.admin1}}">{{addr.admin1_name}}</a> 
					<a class="addrPart" ng-show="addr.admin2_name" href="#!/feature/{{addr.refs.admin2}}">{{addr.admin2_name}}</a>
					<a class="addrPart" ng-show="addr.local_admin_name" href="#!/feature/{{addr.refs.local_admin}}">{{addr.local_admin_name}}</a>
					<a class="addrPart" ng-show="addr.locality_name" href="#!/feature/{{addr.refs.locality}}">{{addr.locality_name}}</a>
					<a class="addrPart" ng-show="addr.neighborhood_name" href="#!/feature/{{addr.refs.neighborhood}}">{{addr.neighborhood_name}}</a>
					<a class="addrPart" ng-show="addr.street_name" href="#!/feature/{{addr.refs.street}}">{{addr.street_name}}</a>
					<span class="addrPart" ng-show="addr.housenumber">{{addr.housenumber}}</span>
				</span>
				<div ng-repeat="alt in addr.alt_addresses">
					{{alt}}		
				</div>
			</div>
			
			<div><a href="#!/feature/{{feature.feature_id || feature.id}}">Details</a></div>
			
			<div ng-show="feature.type == 'poipnt'">
				<h4><span>{{feature.name}}</span> (<span>{{feature.poi_keywords[0]}}</span>)</h4>
				<div ng-show="feature.operator">Operator {{feature.operator}}</div>
				<div ng-show="feature.brand">Brand: {{feature.brand}}</div>
				<div ng-show="feature.opening_hours">Work time: {{feature.opening_hours}}</div>
				<div ng-show="feature.phone">Phone: {{feature.phone}}</div>
				<div ng-show="feature.email">Email: {{feature.email}}</div>
				<div ng-show="feature.website">Website: {{feature.website}}</div>
			</div> 
			
			<div class="columns2" ng-show="feature.nearby_streets">
				<h4>Nearby streets</h4>
				<div ng-repeat="strt in feature.nearby_streets">
					<a href="#!/feature/{{strt.id}}">{{strt.name}}</a>
					<div class="aname" ng-show="strt.alt_names">
						(<span class="part" ng-repeat="aname in strt.alt_names">{{aname}}</span>)
					</div>
				</div>
			</div> 
		
			<div class="columns2" ng-show="feature.nearby_places">
				<h4>Nearby places</h4>
				<div ng-repeat="place in feature.nearby_places">
					<a href="#!/feature/{{place.id}}">{{place.name}}</a>
					<div class="aname" ng-show="place.alt_names">
						(<span class="part" ng-repeat="aname in place.alt_names">{{aname}}</span>)
					</div>
				</div>
			</div> 
			
		</div>	
   	</div>
     	
     
</div>
