<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/gazetteer-web.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<!-- daily rollover -->
			<fileNamePattern>logs/%d{yyyy-MM-dd}.%i.log</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">

				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>

			</timeBasedFileNamingAndTriggeringPolicy>

			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>

		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="ACCESS_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/access/gw-access.log</file>
		
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>HUMAN</marker>
			</evaluator>
			<OnMatch>ACCEPT</OnMatch>
        	<OnMismatch>DENY</OnMismatch>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<!-- daily rollover -->
			<fileNamePattern>logs/access/%d{yyyy-MM-dd}.%i.log</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">

				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>50MB</maxFileSize>

			</timeBasedFileNamingAndTriggeringPolicy>

			<!-- keep 7 days' worth of history -->
			<maxHistory>14</maxHistory>
		</rollingPolicy>

		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} %msg%n</Pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

	<logger name="me.osm.osmdoc" level="WARN" />
	<logger name="org.elasticsearch" level="WARN" />
	<logger name="me.osm.gazetteer.web.HttpLogger" level="WARN" />

	<logger name="me.osm.gazetteer.web.HttpLogger.AccessLog" 
		level="TRACE" additivity="false">
		<appender-ref ref="ACCESS_LOG" />
	</logger>

</configuration>