<!DOCTYPE html>
<html>
	<head> <% if(f.name != null) { %>
		<title>${f.name}</title><%}%>
	</head>
	<body>
		<div class="feature" id="${f.feature_id}" itemscope itemtype="${f.itemtype}">
			${RENDER.callTemplate('name', f, f)}
			
			${RENDER.callTemplate('poi-types', f, f)}
			
			<h4>${RENDER.tr("templates.feature.address")}</h4>
			<% for(address in f.addresses) { %>
				${RENDER.callTemplate('address', f, address)}
			<%}%>
			
			${RENDER.callTemplate('poi-more-tags', f, f)}
		</div>
		 
		${RENDER.callTemplate('poi-related', f, f)}
		
		<a href="${HTML_ROOT}#!/ru/id/${f.feature_id}">${RENDER.tr("templates.feature.showOnMap")}</a>
	</body>
</html>