<html>
	<head> <% if(f.name != null) { %>
		<title>${f.name}</title><%}%>
	</head>
	<body>
		<div class="feature" id="${f.feature_id}" itemscope itemtype="http://schema.org/LocalBusiness">
			${RENDER.callTemplate('name', f, f)}
			<a href="${HTML_ROOT}#!/map?fid=${f.feature_id}">${RENDER.tr("templates.feature.showOnMap")}</a>
			
			${RENDER.callTemplate('poi-types', f, f)}
			
			<p>
			<h4>${RENDER.tr("templates.feature.address")}</h4>
			<% for(address in f.addresses) { %>
				${RENDER.callTemplate('address', f, address)}
			<%}%>
			</p>
			
			${RENDER.callTemplate('poi-more-tags', f, f)}
		</div>
		 
		${RENDER.callTemplate('poi-related', f, f)}
	</body>
</html>