<script type="text/ng-template"  id="PoiTreeItem.html">
	<input type="checkbox" ng-model="data.selected" ng-change="select(data, 'groups')"></input>
    <a ng-click="expand(data);" 
		ng-class="{'not-empty':(data.groups.length!=0 || data.features.length!=0)}">
		{{data.title}}
	</a>
    <ul ng-show="data.expanded">
        <li ng-repeat="data in data.groups" ng-include="'PoiTreeItem.html'"></li>
		<li class="feature" ng-repeat="feature in data.features">
			<input type="checkbox" ng-model="feature.selected" ng-change="select(feature, 'features');"></input>
			<a ng-click="feature.selected = !!!feature.selected; select(feature, 'features');">{{feature.title}}</a>
		</li>
    </ul>
</script>

<div id="wrap">
    <div id="header">
    	<div id="logo-wrapper">
    		&nbsp;
    	</div>
    	<div id="header-content">
	    	<form id="search-form">
	    		<input id="serch-input" class="field ui-autocomplete-input ui-widget" 
	    			type="search" placeholder="{{translation['map.js.input.search.placeholder']}}" 
	    			autofocus="" autocomplete="off" name="q" ng-model="searchQuerry" 
	    			ng-enter="find();">
	    		<input type="submit" id="search-button" 
	    			value="{{translation['map.js.button.search']}}"
	    			class="button" ng-click="find();"/> 
			</form>    	 
    	</div>
    </div>
    <div id="page">
    	<div id="splitter">
			<div id="sidebar" style="width:450px;">
				<div id="search-results" ng-show="searchResultsPage.features">
					<ul>
						<li ng-repeat="f in searchResultsPage.features" class="search-result" ng-click="selectRow(f)">
							<div class="title" ng-show="f.name || f.poi_class_names">{{formatSearchResultTitle(f)}}</div>
							<div class="address">{{formatSearchResultAddress(f)}}</div>
						</li>
					</ul>
					<div>
						<span>{{translation['map.js.search.result.pages']}}</span>
						<span class="page-number" ng-class="{current:pn.active}" 
							ng-repeat="pn in srPages" ng-click="goPage(pn)">{{pn.p}}</span>
					</div>
				</div>
				<ul id="cathegories-tree">
	    			<li ng-repeat="data in hierarchy.groups" ng-include="'PoiTreeItem.html'"></li>
				</ul>
			</div>
			<div id="map" style="left:450px;"></div>
		</div>
    </div>
	<div style="clear: both;"></div>	
</div>
